.barraNav{
    border: solid;
    text-align: center;
    width: 100%;
    margin: 0%;
}

.elementoNav{
    display: inline-block;
    padding: 10px;
    padding-right: 30px;
    vertical-align: middle;
}

.logoNav{
    height: 40px;
}

.linkNav{
    color: rgb(33, 93, 121);
    font-size: larger;
}


